.mycard{
    width:250px;
    height:300px;
    background-color:#333;
    border-radius: 10px;
    outline-offset: -8px;
    box-shadow: 3px 3px 10px
    rgba(0,0,0, 0.1);
    position: relative;
    overflow: hidden;
}
.mycard-galeri{
    width:320px;
    height:300px;
    background-color:#333;
    border-radius: 10px;
    outline-offset: -8px;
    box-shadow: 3px 3px 10px
    rgba(0,0,0, 0.1);
    position: relative;
    overflow: hidden;
}
.mycard-detail{
    width:280px;
    height:300px;
    background-color:#333;
    border-radius: 10px;
    outline-offset: -8px;
    box-shadow: 3px 3px 10px
    rgba(0,0,0, 0.1);
    position: relative;
    overflow: hidden;
}

.mycard-detail-home{
    width:250px;
    height:380px;
    background-color:#333;
    border-radius: 10px;
    outline-offset: -8px;
    box-shadow: 3px 3px 10px
    rgba(0,0,0, 0.1);
    position: relative;
    overflow: hidden;
}

.mycard-lebar{
    width:260px;
    height:350px;
    border-radius: 10px;
    outline-offset: -8px;
    box-shadow: 3px 3px 10px
    rgba(0,0,0, 0.1);
    position: relative;
    overflow: hidden;  
    margin-bottom: 20px;
}

.mycard-image{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit :cover;
    opacity: 0.6;
    transition: transform 0.75s;
}
.mycard-image-galeri{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit :cover;
    opacity: 0.6;
    transition: transform 0.75s;
}

.mycard-image-lebar{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit :cover;
    opacity: 0.6;
    transition: transform 0.75s;  
}
.mycard-image-detail{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit :cover;
    opacity: 0.6;
    transition: transform 0.75s;  
}
.mycard-image-detail-home{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit :cover;
    opacity: 0.6;
    transition: transform 0.75s;  
}

.mycard:hover .mycard-image{
    transform: scale(1.48);
}
.mycard-galeri:hover .mycard-image-galeri{
    transform: scale(1.48);
}

.mycard-detail:hover .mycard-image-detail{
    transform: scale(1.48);
}
.mycard-detail-home:hover .mycard-image-detail-home{
    transform: scale(1.48);
}

.mycard-lebar:hover .mycard-image-lebar{
    transform: scale(1.48);
}

.mycard-title-lebar{
    position: absolute;
    right: -50px;
    left: -50px;
    text-align: center;
    color: #ffffff;
    bottom:70px;
    font-size:20px;
    text-shadow: 0 0 1px
    rgba(0,0,0, .5);
}

.mycard-title{
    position: absolute;
    right: -30px;
    left: -30px;
    text-align: center;
    color: #ffffff;
    bottom:15px;
    font-size:20px;
    text-shadow: 0 0 1px
    rgba(0,0,0, .5);
}

.mycard-title-galeri{
    position: absolute;
    right: -30px;
    left: -30px;
    text-align: center;
    color: #ffffff;
    bottom:15px;
    font-size:20px;
    text-shadow: 0 0 1px
    rgba(0,0,0, .5);
}

.mycard-title-detail{
    position: absolute;
    right: -30px;
    left: -30px;
    text-align: center;
    color: #ffffff;
    bottom:15px;
    font-size:20px;
    text-shadow: 0 0 1px
    rgba(0,0,0, .5);
}
.mycard-title-detail-home{
    position: absolute;
    right: -30px;
    left: -30px;
    text-align: center;
    color: #ffffff;
    bottom:15px;
    font-size:20px;
    text-shadow: 0 0 1px
    rgba(0,0,0, .5);
}